body{
  background-color: rgb(143, 173, 71);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search{
  border: black;
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  padding:30px;
  background-color:rgb(171, 186, 255);;
  margin: auto;
  width: 50%;
  
}

.save{
  border: black;
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  padding:30px;
  background-color:rgb(171, 186, 255);;
  margin: auto;
  width: 50%;
  
}

.bgimage{
  background-image: url("./images/dreamcatcher2.png");
  background-color: rgb(17, 34, 92)
}

.color-white{
  color: white;
}

.results{
  border: black;
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  padding:5px;
  background-color:rgb(153, 247, 250);;
  margin: auto;
  width: 65%;
  
}

.hide{
  display: none;
}

.saveddream{
  border: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
  padding:5px;
  background-color: white;
  margin: auto;
  width: 95%;
}

.savedbooks{
  border: black;
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  padding:5px;
  background-color: rgb(153, 247, 250);
  margin: auto;
  width: 65%;
  
}